<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=egde">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Cleverti chat</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" >
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.9/dist/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <style>
        * { font-family: 'Quicksand', sans-serif; }
    </style>
</head>
<body>
    <div id="app" class="container">
        <h1 class="center-align">Cleverti chat</h1>
        <form class="col s12">
            <div class="row center-align">
                <div class="center-align input-field col s10">
                    <label class="active" for="message">Message</label>
                    <input id="message" v-model="message" value="" type="text">
                </div>
                <div class="center-align col s1">
                        <div class="btn btn-small light-green" onclick="send()">
                            <i class="material-icons">play_arrow</i>
                        </div>
                </div>
                <div class="center-align col s1">
                        <div class="btn btn-small red" onclick="disconnect()">
                            <i class="material-icons">cloud_off</i>
                        </div>
                </div>
            </div>
            <br/>
            <div class="row center-align" v-if="messages != null" v-for="message of messages">
                <div class="col s1"></div>
                <div class="right-align strong col s3">
                    <div v-if="message.name != null"><b> {{ message.name }} </b></div>
                </div>
                <div class="left-align col s7"> {{ message.txt }}</div>
                <div class="col s1"></div>
            </div>
        </form>
    </div>
    <script>
        var socket = null

        function connect() {
            socket = io('http://localhost:4321')
            
            // Identity yourself before the server
            socket.emit('set_username', { username: app.username })
            app.messages = []
            app.messages.push( { name: null, txt: 'You are connected!' });

            // This listener handles text messages sent by the server 
            socket.on('message', function(msg) {
                app.messages.push( { name: msg.name, txt: msg.txt });
            })

            // This listener handles disconnection from the server 
            socket.on('disconnect', function() {
                app.messages.push( { name: null, txt: 'Connection to the server was terminated.' });
            })
        }

        function disconnect() {
            if (socket.connected) {
                socket.disconnect();
                app.messages.push( { name: null, txt: 'You disconnected from the server.' });
            }
            else {
                app.messages.push( { name: null, txt: 'You are already disconnected from the server.' });
            }
        }
        
        function send() {
            if (!socket.connected) {
                connect()
            }

            if (app.message.length > 0) {
                // Send message to the server
                socket.emit('message', { msg: app.message })
                app.messages.push( { name: 'Me', txt: app.message } );
                app.message = ''
            }
        }

        var app = new Vue({
            el: '#app',
            data: {
                username: '',
                message: '',
                messages: []
            },
            methods: {
                connect: function() {
                    connect();
                },
                disconnect: function() {
                    disconnect();
                },
                send: function() {
                    send();
                }
            }
        });

        // Generate a username between 0 and 999
        app.username = 'User-' + Math.floor((Math.random() * 999))

        // Lets connect!
        connect()

        // This lets us press Enter and not refreshing the page by disabling submit action
        document.getElementById("message").addEventListener("keypress", function(e) {
            if (e.keyCode == 13) {
                e.preventDefault();
                send();
            }
        })
    </script>
</body>
</html>